<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Usuário</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-gray-100 font-sans">

  <div class="container mx-auto px-4 py-8">
    <div class="bg-gray-800 p-6 rounded-lg shadow-md">
      <div class="flex items-center space-x-4">
        <div>
        <%= image_tag rails_blob_url(current_user.profile_image, only_path: true), class: "w-24 h-24 rounded-full" %>

          <h1 class="text-2xl font-semibold mb-2">Perfil do Usuário</h1>
          <p class="text-lg">Bem-vindo ao seu perfil, <span class="font-semibold"><%= @user.email %></span>!</p>
        </div>
      </div>
    </div>

    <div class="mt-8">
    </div>
  </div>

</body>
</html>
