<div id="<%= dom_id project %>" class="max-w-xs mx-auto bg-gray-800 text-white shadow-lg rounded-lg overflow-hidden p-4">
  <div class="flex flex-col h-full">
    <div class="flex flex-col mb-4">
      <p class="text-center text-lg font-semibold mb-2">
        <%= project.title %>
      </p>

      <p class="text-center text-gray-300 text-sm">
        <%= project.ds_project %>
      </p>
    </div>

    <div class="flex justify-center mt-auto">
      <%= link_to "Show this project", project, class: "text-blue-400 hover:text-blue-500 hover:underline transition ease-in-out duration-200" %>
    </div>
  </div>
</div>
