<div id="<%= dom_id project %>">

    <div class="flex flex-col mb-4">

    <% if project.image.attached? %>
      <%= image_tag project.image, alt: 'Project Image', class: 'w-64 h-64 object-cover rounded-lg shadow-md border border-gray-300' %>
    <% else %>
      <p class="text-gray-500">Sem imagem</p>
    <% end %>
  
      <p class="text-center text-lg text-white text-2x1 font-semibold mb-2">
        <%= project.title %>
      </p>

      <p class="text-center text-gray-300 text-sm">
        <%= project.ds_project %>
      </p>
    </div>
  </div>

