<section class="flex flex-col lg:flex-row lg:items-center lg:justify-between mb-8">
  <h1 class="text-3xl lg:text-4xl font-extrabold text-white border-b-2 border-gray-700 pb-2 lg:mb-0 mb-4">Projetos</h1>
  <%= link_to "Novo Projeto", new_project_path, class: "bg-teal-500 text-white py-2 px-4 lg:py-3 lg:px-6 rounded-lg shadow-lg hover:bg-teal-900 transition ease-in-out duration-300" %>
</section>

<div class="ribbon w-full h-1 rounded-md"></div>
      <!-- Projects list -->
      <div id="projects" class="grid grid-cols-1 gap-6 mt-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <% @projects.each do |project| %>
          <div class="p-6 bg-gray-800 rounded-lg shadow-lg hover:bg-gray-700 transition ease-in-out duration-200 border border-gray-600">
            <%= render project %>
            <div class="flex justify-center mt-4">
            <%= link_to "Ver Projeto", project, class: "inline-block bg-verde-agua text-white font-semibold py-2 px-4 rounded-lg hover:bg-verde-agua-dark transition duration-200 shadow-md" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    // Toggle sidebar visibility on mobile
    document.getElementById('menu-toggle').addEventListener('click', function() {
      const sidebar = document.querySelector('aside');
      sidebar.classList.toggle('lg:hidden');
    });
  </script>


  <style>
    @keyframes run {
      0% { background-position: 0% 0%; }
      100% { background-position: 100% 0%; }
    }
    .ribbon {
      background: linear-gradient(to right, #00bfae, #1de9b6, #4db6ac, #80cbc4, #00bcd4, #26c6da, #4dd0e1);
      background-size: 300% 100%;
      animation: run 5s linear infinite;
    }
  </style>