  <div class="bg-gray-800 rounded-lg">
  <div class="flex items-start space-x-3">
 
    <div class="flex flex-col">
      <div class="flex items-center space-x-2">
      <strong class="text-teal-300 font-semibold"><%= sender_email.split('@').first %>:</strong>
      <p class="text-white ml-2"><%= message %></p>
      </div>
    </div>
  </div>
</div>
